.home-main-content {
    min-height: 83vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

#movie-carousel {
    width: 30vw;
}

@media only screen and (max-width: 950px) {
    .movie-poster {
        display: none;
    }
}