.movie-card {
    width: 15rem;
    background-color: black !important;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    border: black solid 1px !important;
    margin: 1rem;
}

.movie-card:hover {
    transform: scale(1.1);
    filter: brightness(1.25);
    cursor: pointer;
}

.card-body {
    border-top: white solid 2px;
}