footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-top: white solid 2px;
}

footer span {
    margin: 0.25rem 0;
}

footer a[href]:hover {
    text-decoration: underline;
    font-weight: 400;
    font-size: 1em;
}